body {
    color: lime;
    background: rgb(113, 0, 179);
    margin: 0px;
    margin-bottom: 150px;
}

header {
    border-bottom: solid 2px rgb(3, 168, 132);
    padding: 25px;
    font-size: 35px;
    color: rgb(113, 252, 85);
}

.chamada {
    background: #36008d;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
margin-right: 5%;

}

h1 {
    font-size:  40px;
}

p {
 font-size: 20px;
}

img {
    height: 150;
}

.categoria-video {

    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
}

.categoria-video img {
  opacity: 0.5;
  height: 200px;
}

.categoria-video img:hover {
 opacity: 1.0;
 border: 5px solid darkslateblue;

}

.categoria h2 {
    color: rgb(113, 252, 85);
}